* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
.button {
    width: 210px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 33px;
    background-color: #f2726f;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
}
.button:hover {
    transition: all 0.3s;
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}

/* Dropdown menus */
.dropbtn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15px;
    text-decoration: none;
    color: #000000;
    margin-right: 37px;
}
.checkmark {
    margin-left: 5px;
}
.dropbtn:hover,
.dropbtn:focus {
    transition: all 0.2s;
    color: #f2726f;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 230px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown a:hover {
    transition: all 0.2s;
    color: #f2726f;
}
.show {
    display: block;
}
/* HEADER */

.wrapper-header {
    position: relative;
    background-image: url(img/bg-main.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 318px;
}
.container {
    max-width: 1022px;
    margin-left: auto;
    margin-right: auto;
}
.contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    margin-bottom: 28px;
}
.logo {
}
.logotype {
}
.contacts__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts__item {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #ffffff;
    letter-spacing: 0.15px;
}
.contacts__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.button__header {
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 48px 10px 40px;
    border-radius: 10px;
    margin-bottom: 126px;
}
.nav__items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15px;
    text-decoration: none;
    color: #000000;
    margin-right: 37px;
}
.nav__item:hover {
    transition: all 0.2s;
    color: #f2726f;
}
.nav__item:last-child a {
    margin-right: 0;
}
.nav__icons {
}
.nav__icon:first-child {
    margin-right: 22px;
}
.main__title {
    width: 583px;
    font-weight: 900;
    font-size: 56px;
    line-height: 56px;
    color: #ffffff;
    margin-bottom: 48px;
}
.main {
}
/* Who */
.who {
    position: relative;
    bottom: 25em;
}
.img__dots {
    position: relative;
    bottom: -15em;
    left: 90%;
    z-index: 1;
}
.who__content {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
    background: #5d62b5;
    border-radius: 40px;
    padding: 100px 87px 0 60px;
}
.paragraph {
    color: #f5f5f5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
}
.name-section {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}
.name-section span {
    margin-right: 16px;
}
.paragraph--who {
}
.title {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    margin-bottom: 36px;
}
.title--who {
}
.who__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #f5f5f5;
    margin-bottom: 26px;
}
.who__img {
}
.who__img:last-child {
    position: relative;
    bottom: 20em;
    margin-bottom: -50%;
}
/* Promise */
.promise {
    margin-top: -20%;
    margin-bottom: 122px;
}
.name-section {
}

.paragraph--promise {
    color: #5d62b5;
}
.title--promise {
    color: #000000;
}
.promise__cards {
    display: flex;
}
.promise__card {
    display: flex;
    margin-right: 27px;
}
.promise__card:last-child {
    margin-right: 0;
}
.promise__card img {
    vertical-align: top;
    margin-right: 23px;
}
.promise__card-content {
}
.card__title {
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    color: #f2726f;
    margin-bottom: 20px;
}
.card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #4b4b4b;
    width: 235px;
}
/* Ball */
.wrapper-ball {
    background-image: url(/img/bg-promiss.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 44px;
    margin: 0;
}
.ball {
    display: flex;
    align-items: center;
    max-width: 1352px;
    margin-left: auto;
    margin-right: auto;
}
.img__ball {
    margin-right: 72px;
}
.ball__content {
    display: flex;
    flex-direction: column;
    margin-right: 42px;
    margin-bottom: 32px;
}
.title--ball {
    width: 411px;
}
.img__tennis-ball {
}
/* Services */
.wrapper__services {
    background-color: #f5f5f5;
    background-image: url(/img/bg-service.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
}
.services {
    padding-top: 110px;
    padding-bottom: 113px;
}
.title--services {
    color: #000000;
}
.services__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;
    margin-bottom: 66px;
}
.services__card {
    padding: 50px 44px;
    background: #ffffff;
    border-radius: 20px;
    text-align: center;
}
.services__card-img {
    margin-bottom: 33px;
}
.services__card:hover {
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.54);
}
.button {
}
.button--services {
    max-width: 145px;
    margin-left: auto;
    margin-right: auto;
}
/* Form section */
.wrapper__form {
    background-image: url(img/bg-form.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 210px;
}
.form__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form {
    display: grid;
    grid-template-columns: 224px;
    grid-template-rows: 10% 10% 10% 50%;
    column-gap: 22px;
    row-gap: 22px;
    background: #5d62b5;
    border-radius: 40px;
    padding: 76px 57px;
    width: 585px;
    height: 640px;
    margin-right: 111px;
}
.title--form {
    grid-column-start: 1;
    grid-column-end: 3;
}
textarea {
    grid-column-start: 1;
    grid-column-end: 3;
}
.title--form {
    color: #ffffff;
}
input,
select,
textarea {
    background: #5d62b5;
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::placeholder {
    color: #fff;
    padding-left: 24px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.select option {
    background: #5d62b5;
    color: #ffffff;
}
.select {
    color: #fff;
    padding-left: 24px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    display: block;
}
.name {
}
.email {
}
.phone {
}
.button--form {
    border: none;
}
.form__section-description {
    color: #fff;
    font-weight: 900;
    text-align: center;
}
.form-description {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 46px;
}
#number {
    font-size: 96px;
    line-height: 56px;
    margin-bottom: 46px;
}
.form-customers {
font-size: 19px;
line-height: 26px;
}
