* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
.button {
    width: 210px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 33px;
    background-color: #f2726f;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
}
.button:hover {
    transition: all 0.3s;
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.paragraph {
    color: #f5f5f5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2.5px;
}
.title {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    margin-bottom: 36px;
}
/* Dropdown menus */
.dropbtn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15px;
    text-decoration: none;
    color: #000000;
    margin-right: 37px;
}
.checkmark {
    margin-left: 5px;
}
.dropbtn:hover,
.dropbtn:focus {
    transition: all 0.2s;
    color: #f2726f;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 230px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown a:hover {
    transition: all 0.2s;
    color: #f2726f;
}
.show {
    display: block;
}
/* HEADER */

.wrapper-header {
    position: relative;
    background-image: url(img/bg-main.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 318px;
}
.container {
    max-width: 1022px;
    margin-left: auto;
    margin-right: auto;
}
.contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    margin-bottom: 28px;
}
.logo {
}
.logotype {
}
.contacts__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts__item {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #ffffff;
    letter-spacing: 0.15px;
}
.contacts__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 48px 10px 40px;
    border-radius: 10px;
    margin-bottom: 126px;
}
.nav__items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15px;
    text-decoration: none;
    color: #000000;
    margin-right: 37px;
}
.nav__item:hover {
    transition: all 0.2s;
    color: #f2726f;
}
.nav__item:last-child a {
    margin-right: 0;
}
.nav__icons {
}
.nav__icon:first-child {
    margin-right: 22px;
}
.main__title {
    width: 583px;
    font-weight: 900;
    font-size: 56px;
    line-height: 56px;
    color: #ffffff;
    margin-bottom: 48px;
}
.button--main {
    position: relative;
    z-index: 1;
}
/* Who */
.who {
    position: relative;
    bottom: 25em;
}
.img__dots {
    position: relative;
    bottom: -15em;
    left: 90%;
    z-index: 2;
}
.who__content {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
    background: #5d62b5;
    border-radius: 40px;
    padding: 100px 87px 0 60px;
}

.name-section {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}
.name-section span {
    margin-right: 16px;
}
.who__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #f5f5f5;
    margin-bottom: 26px;
}

.who__img:last-child {
    position: relative;
    bottom: 20em;
    margin-bottom: -50%;
}
/* Promise */
.promise {
    margin-top: -20%;
    margin-bottom: 122px;
}
.paragraph--promise {
    color: #5d62b5;
}
.title--promise {
    color: #000000;
}
.promise__cards {
    display: flex;
}
.promise__card {
    display: flex;
    margin-right: 27px;
}
.promise__card:last-child {
    margin-right: 0;
}
.promise__card img {
    vertical-align: top;
    margin-right: 23px;
}

.card__title {
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    color: #f2726f;
    margin-bottom: 20px;
}
.card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #4b4b4b;
    width: 235px;
}
/* Ball */
.wrapper-ball {
    background-image: url(/img/bg-promiss.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 44px;
}
.ball {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ball__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.title--ball {
    width: 411px;
}
.img__tennis-ball {
}
/* Services */
.wrapper__services {
    background-color: #f5f5f5;
    background-image: url(/img/bg-service.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.services {
    padding-top: 110px;
    padding-bottom: 113px;
}
.title--services {
    color: #000000;
}
.services__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;
    margin-bottom: 66px;
}
.services__card {
    padding: 50px 44px;
    background: #ffffff;
    border-radius: 20px;
    text-align: center;
}
.services__card-img {
    margin-bottom: 33px;
}
.services__card:hover {
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.54);
}
.button--services {
    max-width: 145px;
    margin-left: auto;
    margin-right: auto;
}
/* Form section */
.wrapper__form {
    background-image: url(img/bg-form.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 210px;
}
.form__bg{
    position: absolute;
    z-index: 0;
    left: 12%;
}
.form__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form {
    position: relative;
    display: grid;
    grid-template-columns: 224px;
    grid-template-rows: 10% 10% 10% 40%;
    column-gap: 22px;
    row-gap: 22px;
    background: #5d62b5;
    border-radius: 40px;
    padding: 76px 57px;
    width: 100%;
    height: 41em;
    margin-right: 111px;
    z-index: 1;
}
.title--form {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
textarea {
    grid-column-start: 1;
    grid-column-end: 3;
}
.title--form {
    color: #ffffff;
}
input,
select,
textarea {
    background: #5d62b5;
    border-radius: 10px;
    border: 2px solid #ffffff;
}
textarea {
    padding-top: 17px;
    resize: none;
}
::placeholder {
    color: #fff;
    padding-left: 24px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
textarea::placeholder {
    margin-top: 30px;
}
.select option {
    background: #5d62b5;
    color: #ffffff;
}
.select {
    color: #fff;
    padding-left: 24px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} 
.button--form {
    border: none;
    height: 90%;
    grid-column: 2;
}
.form__section-description {
    color: #fff;
    font-weight: 900;
    text-align: center;
}
.form-description {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 46px;
}
#number {
    font-size: 96px;
    line-height: 56px;
    margin-bottom: 46px;
}
.form-customers {
    font-size: 19px;
    line-height: 26px;
}
/* Streams */
.wrapper__streams {
    background-color: #f5f5f5;
}
.streams {
    position: relative;
    bottom: 5em;
    background: #5d62b5;
    border-radius: 40px;
    padding-top: 100px;
    padding-left: 87px;
    padding-right: 87px;
}

.paragraph--streams {
    margin-bottom: 33px;
}
.paragraph--streams span {
}
.title--streams {
    margin-bottom: 55px;
}
.tabs {
}
.tabs__buttons {
    text-align: center;
    border-bottom: 1px solid #fff;
    margin-bottom: -50px;
}
.tab-button {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 30px;
    border: none;
    background: #5d62b5;
    text-align: center;
    letter-spacing: 0.15px;
    color: #ffffff;
    margin-right: 30px;
    cursor: pointer;
}
.tab-button:last-child {
    margin-right: 0;
}
.active {
}
.content-Tabs {
}
.content {
}

button.active {
    background-color: #5d62b5;
    border-bottom: 4px solid #fff;
    font-weight: 700;
    position: static;
}
.content {
    display: none;
}
.content.active {
    display: block;
    position: relative;
    top: 7em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
iframe {
    width: 100%;

    border-radius: 40px;
}
/* Customers */
.wrapper__customers {
    background-image: url(img/bg-customers.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 210px;
}
.customers {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 120px;
}
.customers__text {
    vertical-align: top;
    margin-right: 24px;
}
.paragraph--customers {
    color: #5d62b5;
    margin-bottom: 33px;
}
.title--customers {
    max-width: 322px;
    color: #000000;
}
.customers__content {
    display: flex;
}
.customers__content-card {
    padding: 50px 44px 40px 44px;
    background: #ffffff;
    border-radius: 20px;
}
.customers__content-card:first-child {
    margin-right: 24px;
}
.customers__content-card p {
    margin-bottom: 30px;
    max-width: 226px;
}
.content-customer {
    display: flex;
    justify-content: left;
}
.customer-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-left: 17px;
    color: #f2726f;
}
/* Impact */
.wrapper__impact {
    background-color: #29c3be;
}
.impact__img {
    position: relative;
    left: 45%;
    margin-top: -10%;
    max-width: 644px;
}
.impact {
    margin-top: -10em;
}
.paragraph--impact {
    margin-bottom: 32px;
}
.title--impact {
    max-width: 411px;
    margin-bottom: 76px;
}
.impact__content {
    display: flex;
    margin-bottom: 70px;
}
.impact__content-card {
    display: flex;
    align-items: center;
    margin-right: 24px;
}
.impact__content-card:last-child {
    margin-right: 0;
}
.impact__content-card span {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
}
.impact__content-card p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #5d62b5;
}
.impact-icon {
    margin-right: 30px;
}
.impact__offer {
    position: relative;
    top: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 43px 70px 46px 70px;
    background: #5d62b5;
    border-radius: 20px;
}
.impact__offer p {
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    max-width: 562px;
    margin-right: 102px;
}

.button--impact {
}
/* Footer */
.wrapper__footer {
    margin-top: calc(88px + 64px);
}
.footer__information {
    display: flex;

    justify-content: space-between;
    margin-bottom: 98px;
}
.footer__content img {
    margin-bottom: 23px;
}

.footer__content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #4b4b4b;
    max-width: 234px;
    margin-bottom: 33px;
}
.social__items {
    margin-bottom: 33px;
}
.social__item {
    margin-right: 18px;
}
.lists {
    display: flex;
}
h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #4b4b4b;
    text-transform: uppercase;
    margin-bottom: 28px;
}
.list__links {
    list-style: none;
}
.list__links:first-child {
    margin-right: 130px;
}
.list__links a {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #4b4b4b;
    text-decoration: none;
}
.list__links li {
    margin-bottom: 18px;
}
.list__links p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #4b4b4b;
}
.footer__contacts li {
    display: flex;
    margin-bottom: 18px;
}
.footer__contacts img {
    margin-right: 18px;
}
.footer__copyrights {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 11.5em;
    background-color: #5d62b5;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.15px;
}
.copyrights {
    display: flex;
}
.copyrights a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.copyrights a:last-child::before {
    content: "";
    border-left: 1px solid #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}
.copyrights p {
    margin-right: 10px;
}
