*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
.container {
    max-width: 1022px;
    margin-left: auto;
    margin-right: auto;
}
@media all and (max-width: 1100px) {
    .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 20px;
    }
}

.button {
    width: 210px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 33px;
    background-color: #f2726f;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
}
@media all and (max-width: 380px) {
    .button {
        font-size: 10px;
    }
}

.button:hover {
    transition: all 0.3s;
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.paragraph {
    color: #f5f5f5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2.5px;
}
.title {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    margin-bottom: 36px;
}
@media screen and (max-width: 1000px) {
    .title {
        font-size: 26px;
        line-height: 32px;
    }
}
@media all and (max-width: 770px) {
    .title {
        font-size: 20px;
        line-height: 22px;
    }
}
/* Burger-menu */
.burger-menu {
    display: none;
}
@media screen and (max-width: 1000px) {
    .burger-menu {
        display: block;
    }
}
#menu__toggle {
    position: absolute;
    display: none;
}
.menu__btn {
    display: block;
    position: relative;
    left: 95%;
    bottom: 4em;
    width: 40px;
    cursor: pointer;
}
@media all and (max-width: 850px) {
    .menu__btn {
        bottom: 10em;
        left: 90%;
    }
}

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 30;
    transition: ease-in-out 0.3s;
}
.menu__btn span::before {
    content: "";
    top: -9px;
}
.menu__btn span::after {
    content: "";
    top: 9px;
}
.menu__box {
    display: block;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    top: 0;
    width: 50%;
    height: 80%;
    padding: 50px 0px 0px 0px;
    background: #ffffff;
    border-radius: 20px;
    text-align: center;
    z-index: 3;
}
@media screen and (max-width: 912px) {
    .menu__box {
        width: 60%;
    }
}
.menu__item {
    display: block;
    padding: 20px 0px;
    font-weight: 700;
    font-size: 25px;
    color: #4b4b4b;
}
.menu__item:hover {
    color: #f2726f;
}
.button--burger {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    font-size: 18px;
    width: 300px;
    height: 60px;
}
@media screen and (max-width: 550px) {
    .button--burger {
        font-size: 13px;
        width: 80%;
    }
}
@media screen and (max-width: 320px) {
    .button--burger {
        font-size: 10px;
    }
}
#menu__toggle:checked ~ .menu__btn span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn span::before {
    top: 0;
    transform: rotate(0);
    background-color: #f2726f;
}
#menu__toggle:checked ~ .menu__btn span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #f2726f;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}
/* Dropdown menus */
.dropbtn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #000000;
    margin-right: 37px;
}
.checkmark {
    margin-left: 5px;
}
.dropbtn:hover,
.dropbtn:focus {
    transition: all 0.2s;
    color: #f2726f;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 230px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 12px 16px;
}

.dropdown a:hover {
    transition: all 0.2s;
    color: #f2726f;
}
.show {
    display: block;
}
/* HEADER */
.wrapper-header {
    position: relative;
    background-image: url(img/bg-main.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 318px;
}
.contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    margin-bottom: 28px;
}
@media screen and (max-width: 1000px) {
    .contacts {
        justify-content: space-evenly;
        margin-right: 1em;
    }
}
@media all and (max-width: 850px) {
    .contacts {
        flex-direction: column;
        align-items: start;
        text-align: left;
        margin-right: 0;
        margin-bottom: 0;
    }
}
.contacts__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media all and (max-width: 850px) {
    .contacts__items {
        margin-top: 20px;
    }
}
.contacts__item {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #ffffff;
    letter-spacing: 0.15px;
}
@media screen and (max-width: 1000px) {
    .contacts__item {
        font-size: 18px;
    }
}
.contacts__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
@media all and (max-width: 850px) {
    .contacts__icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 48px 10px 40px;
    border-radius: 10px;
    margin-bottom: 126px;
}
@media screen and (max-width: 1000px) {
    .navigation {
        display: none;
    }
}
.nav__items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #000000;
    margin-right: 37px;
}
.nav__item:hover {
    transition: all 0.2s;
    color: #f2726f;
}
.nav__item:last-child a {
    margin-right: 0;
}
.nav__icon:last-child::after {
    content: "2";
    position: relative;
    bottom: 1.5em;
    right: 6%;
    font-weight: 500;
    font-size: 10px;
    line-height: 22px;
    color: #ffffff;
    background-color: #f2726f;
    padding: 4px 7px;
    border-radius: 100%;
}

.nav__icon:first-child {
    margin-right: 22px;
}
@media screen and (max-width: 1000px) {
    .button--header {
        display: none;
    }
}
/* Main */
.main__title {
    width: 583px;
    font-weight: 900;
    font-size: 56px;
    line-height: 56px;
    color: #ffffff;
    margin-bottom: 48px;
}
@media all and (max-width: 1000px) {
    .main__title {
        font-size: 46px;
        line-height: 46px;
        margin-top: 4em;
    }
}
@media screen and (max-width: 550px) {
    .main__title {
        max-width: 80%;
    }
}
.button--main {
    position: relative;
    z-index: 1;
}
/* Who */
.who {
    position: relative;
    bottom: 25em;
}
@media all and (max-width: 1250px) {
    .who {
        bottom: 8em;
    }
}
.img__dots {
    position: relative;
    bottom: -15em;
    left: 90%;
    z-index: 2;
}
@media all and (max-width: 1250px) {
    .img__dots {
        position: absolute;
        bottom: 47vw;
        left: 80%;
    }
}
@media screen and (max-width: 1100px) {
    .img__dots {
        width: 20%;
        bottom: 55vw;
    }
}
@media screen and (max-width: 900px) {
    .img__dots {
        display: none;
    }
}
.who__content {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
    background: #5d62b5;
    border-radius: 40px;
    padding: 100px 87px 0 60px;
}
@media all and (max-width: 900px) {
    .who__content {
        padding: 20px 10px;
    }
}
.name-section {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}
.name-section span {
    margin-right: 16px;
}
.who__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #f5f5f5;
    margin-bottom: 26px;
}
@media all and (max-width: 600px) {
    .who__description {
        font-size: 13px;
    }
}
.who__img:last-child {
    position: relative;
    bottom: 20em;
    margin-bottom: -50%;
}
@media all and (max-width: 1100px) {
    .who__img:last-child {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: 0;
    }
}
@media all and (max-width: 900px) {
    .who__img:last-child {
        bottom: 35%;
    }
}
@media all and (max-width: 770px) {
    .who__img {
        max-width: 100%;
    }
}
/* Promise */
.promise {
    margin-top: -20%;
    margin-bottom: 122px;
}
@media all and (max-width: 1250px) {
    .promise {
        margin-top: 0;
    }
}
.paragraph--promise {
    color: #5d62b5;
}
.title--promise {
    color: #000000;
}
.promise__cards {
    display: flex;
}
@media all and (max-width: 1100px) {
    .promise__cards {
        flex-direction: column;
    }
}
.promise__card {
    display: flex;
    margin-right: 27px;
}
@media all and (max-width: 1100px) {
    .promise__card {
        margin-right: 0;
        margin-bottom: 40px;
        width: 100%;
    }
    .promise__card:last-child {
        margin-bottom: 0;
    }
}
.promise__card:last-child {
    margin-right: 0;
}
.promise__card img {
    vertical-align: top;
    margin-right: 23px;
}
.card__title {
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    color: #f2726f;
    margin-bottom: 20px;
}
@media all and (max-width: 1100px) {
    .card__title {
        font-size: 21px;
    }
}
.card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #4b4b4b;
    width: 235px;
}
@media all and (max-width: 1100px) {
    .card__description {
        font-size: 18px;
        width: 100%;
    }
}

/* Ball */
.wrapper-ball {
    background-image: url(img/bg-promiss.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 44px;
}
@media all and (max-width: 770px) {
    .wrapper-ball {
        padding-top: 20px;
    }
}
.ball {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1345px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 23px;
    padding-right: 43px;
}
@media all and (max-width: 1200px) {
    .ball {
        max-width: 80%;
    }
}
@media all and (max-width: 870px) {
    .ball {
        max-width: 65%;
    }
}
@media all and (max-width: 650px) {
    .ball {
        flex-direction: column-reverse;
        max-width: 100%;
    }
}
@media all and (max-width: 1450px) {
    .img__ball {
        width: 50%;
    }
}
.ball__content {
    display: flex;
    flex-direction: column;
}
.title--ball {
    width: 411px;
}
@media all and (max-width: 770px) {
    .title--ball {
        margin-bottom: 15px;
        width: 100%;
    }
}
.img__tennis-ball {
    position: relative;
    left: 5w;
    bottom: 3vw;
}
@media all and (max-width: 1285px) {
    .img__tennis-ball {
        left: 2vw;
    }
}
@media all and (max-width: 770px) {
    .img__tennis-ball {
        display: none;
    }
}
/* Services */
.wrapper__services {
    background-color: #f5f5f5;
    background-image: url(img/bg-service.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.services {
    padding-top: 110px;
    padding-bottom: 113px;
}
.title--services {
    color: #000000;
}
.services__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;
    margin-bottom: 66px;
}
@media all and (max-width: 1100px) {
    .services__cards {
        grid-template-columns: 1fr;
    }
}
.services__card {
    padding: 50px 44px;
    background: #ffffff;
    border-radius: 20px;
    text-align: center;
}
@media all and (max-width: 1100px) {
    .services__card {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 14px;
    }
}
.services__card-img {
    margin-bottom: 33px;
}
.services__card:hover {
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.54);
}
.button--services {
    width: 145px;
    margin-left: auto;
    margin-right: auto;
}

/* Form section */
.wrapper__form {
    background-image: url(img/bg-form.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 210px;
}
.form__bg {
    position: absolute;
    z-index: 0;
    left: 12%;
}
@media all and (max-width: 1750px) {
    .form__bg {
        left: 1%;
    }
}
@media all and (max-width: 1250px) {
    .form__bg {
        max-width: 70%;
        left: -4%;
    }
}
@media all and (max-width: 1100px) {
    .form__bg {
        display: none;
    }
}
.form__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media all and (max-width: 1100px) {
    .form__section {
        display: block;
    }
}
form {
    position: relative;
    display: grid;
    grid-template-columns: 224px;
    grid-template-rows: 10% 10% 10% 40%;
    column-gap: 22px;
    row-gap: 22px;
    background: #5d62b5;
    border-radius: 40px;
    padding: 76px 57px;
    width: 100%;
    height: 41em;
    margin-right: 111px;
    z-index: 1;
}
@media all and (max-width: 1100px) {
    form {
        margin-left: auto;
        margin-right: auto;
        height: 50em;
        width: 80%;
    }
}
@media screen and (max-width: 750px) {
    form {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}
.title--form {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
textarea {
    grid-column-start: 1;
    grid-column-end: 3;
}
.title--form {
    color: #ffffff;
}
input,
select,
textarea {
    background: #5d62b5;
    border-radius: 10px;
    border: 2px solid #ffffff;
}
@media screen and (max-width: 750px) {
    input,
    select {
        padding: 20px 20px;
    }
}
textarea {
    padding-top: 17px;
    resize: none;
}
::placeholder {
    color: #fff;
    padding-left: 24px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
textarea::placeholder {
    margin-top: 30px;
}
.select option {
    background: #5d62b5;
    color: #ffffff;
}
.select {
    color: #fff;
    padding-left: 24px;
    letter-spacing: 0.15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.button--form {
    border: none;
    width: 100%;
    height: 90%;
    grid-column: 2;
}
@media all and (max-width: 1100px) {
    .button--form {
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
        height: 70%;
    }
}
@media screen and (max-width: 750px) {
    .button--form {
        font-size: 16px;
        height: 100%;
    }
}
.form__section-description {
    color: #fff;
    font-weight: 900;
    text-align: center;
}
.form-description {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 46px;
}
@media all and (max-width: 1100px) {
    .form-description {
        margin-top: 50px;
    }
}
#number {
    font-size: 96px;
    line-height: 56px;
    margin-bottom: 46px;
}

#number::after {
    content: "+";
}
.form-customers {
    font-size: 19px;
    line-height: 26px;
}
/* Streams */
.wrapper__streams {
    background-color: #f5f5f5;
}
.streams {
    position: relative;
    bottom: 5em;
    background: #5d62b5;
    border-radius: 40px;
    padding-top: 100px;
    padding-left: 87px;
    padding-right: 87px;
}
@media all and (max-width: 912px) {
    .streams {
        padding-top: 50px;
        padding-left: 47px;
        padding-right: 47px;
    }
}
@media all and (max-width: 700px) {
    .streams {
        padding: 30px 30px;
    }
}
.paragraph--streams {
    margin-bottom: 33px;
}
.title--streams {
    margin-bottom: 55px;
}
@media all and (max-width: 700px) {
    .title--streams {
        text-align: center;
        margin-bottom: 0;
    }
}
.tabs__buttons {
    text-align: center;
    border-bottom: 1px solid #fff;
    margin-bottom: -50px;
}
@media all and (max-width: 1100px) {
    .tabs__buttons {
        white-space: nowrap;
    }
}
@media all and (max-width: 700px) {
    .tabs__buttons {
        white-space: pre-line;
        border: none;
        margin-bottom: 30px;
    }
}
.tabs__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 30px;
    border: none;
    background: #5d62b5;
    text-align: center;
    letter-spacing: 0.15px;
    color: #ffffff;
    margin-right: 30px;
    cursor: pointer;
}
.tabs__button:last-child {
    margin-right: 0;
}
@media all and (max-width: 1100px) {
    .tabs__button {
        font-size: 14px;
        margin-right: 0;
    }
}
@media all and (max-width: 1010px) {
    .tabs__button {
        padding: 8px 20px;
    }
}
@media all and (max-width: 850px) {
    .tabs__button {
        font-size: 13px;
        padding: 5px 13px;
    }
}
@media all and (max-width: 700px) {
    .tabs__button {
        font-size: 18px;
        margin-right: 0;
    }
}
button.active {
    background-color: #5d62b5;
    border-bottom: 4px solid #fff;
    font-weight: 700;
    position: static;
}
.content {
    display: none;
}
.content.active {
    display: block;
    position: relative;
    top: 7em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media all and (max-width: 700px) {
    .content.active {
        position: static;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width: 1100px) {
    .content-Tabs img {
        max-width: 100%;
    }
}
iframe {
    width: 100%;
    border-radius: 40px;
}
@media all and (max-width: 1100px) {
    iframe {
        max-width: 100%;
    }
}
/* Customers */
.wrapper__customers {
    background-image: url(img/bg-customers.png);
    background-color: #cdcdcd;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 210px;
}
@media all and (max-width: 700px) {
    .wrapper__customers {
        padding-bottom: 50px;
    }
}
.customers {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 120px;
}
@media all and (max-width: 1100px) {
    .customers {
        flex-direction: column;
    }
}
.customers__text {
    vertical-align: top;
    margin-right: 24px;
}
.paragraph--customers {
    color: #5d62b5;
    margin-bottom: 33px;
}
.title--customers {
    max-width: 322px;
    color: #000000;
}
.customers__content {
    display: flex;
}
@media all and (max-width: 750px) {
    .customers__content {
        flex-direction: column;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.customers__content-card {
    padding: 50px 44px 40px 44px;
    background: #ffffff;
    border-radius: 20px;
}
@media all and (max-width: 1100px) {
    .customers__content-card {
        width: 100%;
    }
}
.customers__content-card:first-child {
    margin-right: 24px;
}
@media all and (max-width: 750px) {
    .customers__content-card:first-child {
        margin-right: 0;
        margin-bottom: 24px;
    }
}
.customers__content-card p {
    margin-bottom: 30px;
    max-width: 226px;
}
@media all and (max-width: 1100px) {
    .customers__content-card p {
        margin-bottom: 30px;
        max-width: 326px;
    }
}
.content-customer {
    display: flex;
    justify-content: left;
}
.customer-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-left: 17px;
    color: #f2726f;
}
/* Impact */
.wrapper__impact {
    background-color: #29c3be;
}
@media all and (max-width: 600px) {
    .wrapper__impact {
        padding-top: 80px;
    }
}
.impact__img {
    position: relative;
    left: 48%;
    margin-top: -10%;
    max-width: 644px;
}
@media all and (max-width: 1300px) {
    .impact__img {
        bottom: 5em;
        left: 35%;
        max-width: 100%;
    }
}
@media all and (max-width: 1100px) {
    .impact__img {
        width: 50%;
        margin-top: 0;
        bottom: 11em;
    }
}
@media all and (max-width: 700px) {
    .impact__img {
        margin-bottom: 30px;
        top: 1em;
        left: 38%;
    }
}
.impact {
    margin-top: -10em;
}
@media all and (max-width: 1300px) {
    .impact {
        margin-top: -15em;
    }
}
@media all and (max-width: 700px) {
    .impact {
        display: block;
    }
}
.paragraph--impact {
    margin-bottom: 32px;
}
.title--impact {
    max-width: 411px;
    margin-bottom: 76px;
}
@media all and (max-width: 1000px) {
    .title--impact {
        max-width: 300px;
    }
}
@media all and (max-width: 700px) {
    .title--impact {
        max-width: 200px;
    }
}
.impact__content {
    display: flex;
    margin-bottom: 70px;
    justify-content: center;
}
@media all and (max-width: 900px) {
    .impact__content {
        display: grid;
        grid-template-columns: 30% 30%;
        grid-gap: 20px;
        justify-content: center;
    }
}
@media all and (max-width: 770px) {
    .impact__content {
        grid-template-columns: 40% 30%;
        margin-bottom: 0;
    }
}

.impact__content-card {
    display: flex;
    align-items: center;
    margin-right: 24px;
}
@media all and (max-width: 500px) {
    .impact__content-card {
        display: block;
    }
}
.impact__content-card:last-child {
    margin-right: 0;
}
.impact__content-card span {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
}
.impact__content-card p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #5d62b5;
}
.impact-icon {
    margin-right: 30px;
}
.impact__offer {
    position: relative;
    top: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 43px 70px 46px 70px;
    background: #5d62b5;
    border-radius: 20px;
}
@media all and (max-width: 870px) {
    .impact__offer {
        padding: 33px 60px 36px 60px;
    }
}
@media all and (max-width: 770px) {
    .impact__offer {
        flex-direction: column;
    }
}
.impact__offer p {
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    max-width: 562px;
    margin-right: 102px;
}
@media all and (max-width: 1100px) {
    .impact__offer p {
        font-size: 20px;
        line-height: 24px;
        margin-right: 40px;
    }
}
@media all and (max-width: 870px) {
    .impact__offer p {
        font-size: 16px;
        line-height: 20px;
        margin-right: 40px;
    }
}
@media all and (max-width: 770px) {
    .impact__offer p {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media all and (max-width: 1100px) {
    .button--impact {
        max-width: 100%;
    }
}
@media all and (max-width: 380px) {
    .button--impact {
        font-size: 10px;
        max-width: 100%;
    }
}
/* Footer */
.wrapper__footer {
    margin-top: calc(88px + 64px);
}
.footer__information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
}
@media all and (max-width: 770px) {
    .footer__information {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media all and (max-width: 912px) {
    .footer__information {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}
.footer__content img {
    margin-bottom: 23px;
}
.footer__content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #4b4b4b;
    max-width: 234px;
    margin-bottom: 33px;
}
@media all and (max-width: 770px) {
    .footer__content p {
        margin-right: 15px;
    }
}
.social__items {
    margin-bottom: 33px;
}
.social__item {
    margin-right: 18px;
}
.lists {
    display: flex;
}
h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #4b4b4b;
    text-transform: uppercase;
    margin-bottom: 28px;
}
.list__links {
    list-style: none;
}
.list__links:first-child {
    margin-right: 130px;
}
@media all and (max-width: 912px) {
    .list__links:first-child {
        margin-right: 40px;
    }
}
.list__links a {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #4b4b4b;
    cursor: pointer;
}
.list__links a:hover {
    transition: all 0.2s;
    color: #f2726f;
}
.list__links li {
    margin-bottom: 18px;
}
.footer__contacts .list__links a {
    font-weight: 400;
    font-size: 14px;
}
p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #4b4b4b;
}
.footer__contacts li {
    display: flex;
    margin-bottom: 18px;
}
.footer__contacts img {
    margin-right: 18px;
}
.footer__copyrights {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 11.5em;
    background-color: #5d62b5;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.15px;
}
@media all and (max-width: 912px) {
    .footer__copyrights {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 10px;
        white-space: nowrap;
    }
}
.copyrights {
    display: flex;
}
@media all and (max-width: 700px) {
    .copyrights {
        flex-direction: column;
        text-align: center;
    }
}
.copyrights a {
    color: #fff;
    font-weight: 700;
}

.copyrights a:last-child::before {
    content: "";
    border-left: 1px solid #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}
@media all and (max-width: 700px) {
    .copyrights a:last-child::before {
        border-left: none;
        margin: 0;
    }
}
.copyrights p {
    margin-right: 10px;
}
